# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 8a8411caf461e25cdfe1ae3d996f44ff293c66b5422feba095ff75f00eab0ecae8fba5d602a6db85b8b54ee1e14a862f0c1d30f6a0278e875890f07c06b749e7

test:
  secret_key_base: 5f44ab7fcc50f20abe7f227c79533f3754a4532bf50cbfea95fc149ce209d89f51feea1cd5bcb05e126152a5e4146b8b65047dd22f4ee40b98023ed49920ce49

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
